@section Styles
    {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    }


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Tecrübeler</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">İşlemler</a></li>
                    <li class="breadcrumb-item active">Tecrübeler</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Tecrübeler</h4>
                <button type="button" class="btn btn-success waves-effect waves-light" onclick="addExperience()" data-bs-toggle="modal" data-bs-target="#modal">Yeni Ekle</button>
                <p class="card-title-desc">
                    Bu ekranda iş tecrübelerinizi ekleyebilir ve düzenleyebilirsiniz.
                </p>

                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Tecrübe Adı</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Çıkış Tarihi</th>
                            <th>Lokasyon</th>
                            <th>Şirket Adı</th>
                            <th>Şirket Açıklaması</th>
                            <th>Pozisyon</th>
                            <th>İş Açıklaması</th>
                            <th>Tablo İşlemleri</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- end col -->
</div> <!-- end row -->




<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Yeni İş Tecrübesi Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="txtExpName" class="col-md-4 col-form-label">Tecrübe Adı</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Tecrübe adı giriniz" name="txtExpName" id="txtExpName">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="dateStarted" class="col-md-6 col-form-label">İşe Başlangıç Tarihi</label>
                    <div class="col-md-6">
                        <input type="date" placeholder="" name="dateStarted" id="dateStarted">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="dateEnded" class="col-md-6 col-form-label">İşten Çıkış Tarihi</label>
                    <div class="col-md-6">
                        <input type="date" placeholder="" name="dateEnded" id="dateEnded">
                    </div>
                    <div class="col-md-12">
                        <input class="form-check-input" type="checkbox" value="" id="continousDate">
                        <label class="form-check-label" for="continousDate">Devam ediyor.</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="city" class="col-md-6 col-form-label">Şehir seçiniz</label>
                    <div class="col-md-6">
                        <!-- CITIES in TR -->
                        <select id="city" name="city">
                            <option value="1">Adana</option>
                            <option value="2">Adıyaman</option>
                            <option value="3">Afyonkarahisar</option>
                            <option value="4">Ağrı</option>
                            <option value="5">Amasya</option>
                            <option value="6">Ankara</option>
                            <option value="7">Antalya</option>
                            <option value="8">Artvin</option>
                            <option value="9">Aydın</option>
                            <option value="10">Balıkesir</option>
                            <option value="11">Bilecik</option>
                            <option value="12">Bingöl</option>
                            <option value="13">Bitlis</option>
                            <option value="14">Bolu</option>
                            <option value="15">Burdur</option>
                            <option value="16">Bursa</option>
                            <option value="17">Çanakkale</option>
                            <option value="18">Çankırı</option>
                            <option value="19">Çorum</option>
                            <option value="20">Denizli</option>
                            <option value="21">Diyarbakır</option>
                            <option value="22">Edirne</option>
                            <option value="23">Elazığ</option>
                            <option value="24">Erzincan</option>
                            <option value="25">Erzurum</option>
                            <option value="26">Eskişehir</option>
                            <option value="27">Gaziantep</option>
                            <option value="28">Giresun</option>
                            <option value="29">Gümüşhane</option>
                            <option value="30">Hakkâri</option>
                            <option value="31">Hatay</option>
                            <option value="32">Isparta</option>
                            <option value="33">Mersin</option>
                            <option value="34">İstanbul</option>
                            <option value="35">İzmir</option>
                            <option value="36">Kars</option>
                            <option value="37">Kastamonu</option>
                            <option value="38">Kayseri</option>
                            <option value="39">Kırklareli</option>
                            <option value="40">Kırşehir</option>
                            <option value="41">Kocaeli</option>
                            <option value="42">Konya</option>
                            <option value="43">Kütahya</option>
                            <option value="44">Malatya</option>
                            <option value="45">Manisa</option>
                            <option value="46">Kahramanmaraş</option>
                            <option value="47">Mardin</option>
                            <option value="48">Muğla</option>
                            <option value="49">Muş</option>
                            <option value="50">Nevşehir</option>
                            <option value="51">Niğde</option>
                            <option value="52">Ordu</option>
                            <option value="53">Rize</option>
                            <option value="54">Sakarya</option>
                            <option value="55">Samsun</option>
                            <option value="56">Siirt</option>
                            <option value="57">Sinop</option>
                            <option value="58">Sivas</option>
                            <option value="59">Tekirdağ</option>
                            <option value="60">Tokat</option>
                            <option value="61">Trabzon</option>
                            <option value="62">Tunceli</option>
                            <option value="63">Şanlıurfa</option>
                            <option value="64">Uşak</option>
                            <option value="65">Van</option>
                            <option value="66">Yozgat</option>
                            <option value="67">Zonguldak</option>
                            <option value="68">Aksaray</option>
                            <option value="69">Bayburt</option>
                            <option value="70">Karaman</option>
                            <option value="71">Kırıkkale</option>
                            <option value="72">Batman</option>
                            <option value="73">Şırnak</option>
                            <option value="74">Bartın</option>
                            <option value="75">Ardahan</option>
                            <option value="76">Iğdır</option>
                            <option value="77">Yalova</option>
                            <option value="78">Karabük</option>
                            <option value="79">Kilis</option>
                            <option value="80">Osmaniye</option>
                            <option value="81">Düzce</option>

                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtCompanyName" class="col-md-4 col-form-label">Şirket Adı</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Şirket adı giriniz" name="txtCompanyName" id="txtCompanyName">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtCompanyDescription" class="col-md-4 col-form-label">Şirket Açıklaması</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Şirket Hakkında Açıklama" name="txtCompanyDescription" id="txtCompanyDescription">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtPosition" class="col-md-4 col-form-label">Pozisyon Adı</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Pozisyon adı giriniz" name="txtPosition" id="txtPosition">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtPositionDescription" class="col-md-4 col-form-label">Pozisyon Hakkında Açıklama Giriniz</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="İş açıklaması giriniz" name="txtPositionDescription" id="txtPositionDescription">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-light waves-effect" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnConfirm" class="btn btn-primary waves-effect waves-light">Ekle</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->

    <script type="text/javascript">
        var _DataTable;
        $(document).ready(function () {
            $("#continousDate").change(function () {
                if ($(this).is(':checked')) {
                    $("#dateEnded").val('');
                    $("#dateEnded").attr("readonly", true);
                } else {

                    $("#dateEnded").attr("readonly", false);
                }
            });
            loadTable();

        });
        function loadTable() {
            var dataTable = $("#datatable").DataTable(
                {
                    ajax: "@Url.Action("GetAll","Experience")",
                    dataSrc: '',
                    columns: [
                        { data: 'name' },
                        {
                            data: 'startingDate', render: function (data, type) {
                                var tarih = new Date(data).toLocaleDateString();
                                return tarih;
                            }
                        },
                        {
                            data: 'endingDate', render: function (data, type) {
                                if (data != null) {
                                    var d = new Date(data);
                                    endDate = d.toLocaleDateString();
                                    return endDate;
                                } else {
                                    return "<em>Devam ediyor.</em>";
                                }
                            }
                        },
                        { data: 'location' },
                        { data: 'companyName' },
                        { data: 'companyDescription' },
                        { data: 'position' },
                        { data: 'positionDescription' },
                        {
                            data: 'id', render: function (data, type) {
                                return `<a id="btnDelete-${data}" onClick="deleteExperience('${data}')" class="btn btn-danger"> Sil </a> <a onClick="editExperience('${data}')" class="btn btn-info">Düzenle</a>`;
                            }
                        }
                    ],
                }
            );
            _DataTable = dataTable;

        }


        function addExperience() {

            $("#btnConfirm").off("click");
            $("#btnConfirm").on('click', function (event) {
                var checkbox = $("#continousDate").is(':checked');
                var endDate;
                if (checkbox == true) {
                    endDate == null;
                } else {
                    endDate = $("#dateEnded").val();
                }
                if ($("#txtExpName").val().length > 3 && $("#dateStarted").val() != null && $("#txtCompanyName").val().length > 3 && $("#txtCompanyDescription").val().length > 3 && $("#txtPosition").val().length > 3 && $("#txtPositionDescription").val().length > 3) {
                    var veri = {
                        name: $("#txtExpName").val(),
                        startingDate: $("#dateStarted").val(),
                        endingDate: endDate,
                        location: $("#city option:selected").text(),
                        companyName: $("#txtCompanyName").val(),
                        companyDescription: $("#txtCompanyDescription").val(),
                        position: $("#txtPosition").val(),
                        positionDescription: $("#txtPositionDescription").val()
                    };
                    console.log(veri);
                    Swal.fire({
                        title: 'Eklemek istediğinizden emin misiniz?',
                        // text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'EKLE!',
                        cancelButtonText: 'İptal'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AddExperience","Experience")",
                                data: veri,
                                success: function (res) {
                                    $("#txtExpName").val(''),
                                        $("#dateStarted").val('');
                                    $("#dateEnded").val('');
                                    $("#txtCompanyName").val('');
                                    $("#txtCompanyDescription").val('');
                                    $("#txtPosition").val('');
                                    $("#txtPositionDescription").val('');
                                    _DataTable.ajax.reload();
                                    $("#modal").modal('hide');
                                }
                            });
                            toastr.success('Başarıyla eklendi.', 'BAŞARILI!');
                        }
                    });
                }
                else {
                    toastr.error('Geçersiz veri girdiniz!');
                }
            });
        }
        function deleteExperience(id) {
            var veri = {
                id: id
            };


            Swal.fire({
                title: 'Silmek istediğinizden emin misiniz?',
                text: "Silinen verilerinizi kaybedeceksiniz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'SİL'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteExperience","Experience")",
                        data: veri,
                        success: function (res) {
                            _DataTable.ajax.reload();
                        }
                    });
                    toastr.success('Başarıyla silindi.', 'SİLİNDİ');
                }
            });
        }

        function editExperience(id) {

            var veri = { id: id };
            $.ajax({
                type: "POST",
                url: "@Url.Action("FindById","Experience")",
                data: veri,
                success: function (res) {
                    $("#modal").modal('show');
                    $("#txtExpName").val(res.name);
                    $("#dateStarted").val(res.startingDate.slice(0, 10));
                    if (res.endingDate != null) {
                        $("#dateEnded").val(res.endingDate.slice(0, 10));
                    } else {
                        $("#dateEnded").val('');
                    }
                    $("#city option:selected").text(res.location);
                    $("#txtCompanyName").val(res.companyName);
                    $("#txtCompanyDescription").val(res.companyDescription);
                    $("#txtPosition").val(res.position);
                    $("#txtPositionDescription").val(res.positionDescription);

                    $("#btnConfirm").html("Düzenle");
                    $("#btnConfirm").off("click");
                    $("#btnCancel").one('click', function (event) {
                        $("#modal").modal('hide');
                        $("#txtExpName").val(''),
                            $("#dateStarted").val('');
                        $("#dateEnded").val('');
                        $("#txtCompanyName").val('');
                        $("#txtCompanyDescription").val('');
                        $("#txtPosition").val('');
                        $("#txtPositionDescription").val('');
                        $("#btnConfirm").html("Ekle");

                    });
                    $("#btnConfirm").on('click', function (event) {
                        Swal.fire({
                            title: 'Düzenlemek istediğinize emin misiniz?',
                            text: "Düzenledikten sonra değişiklikleri geri alamazsınız!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Düzenle!',
                            cancelButtonText: 'Iptal'
                        }).then((result) => {
                            if (result.isConfirmed) {


                                var checkbox = $("#continousDate").is(':checked');
                                var endDate;
                                if (checkbox == true) {
                                    endDate == null;
                                } else {
                                    endDate = $("#dateEnded").val();
                                }
                                var veriEdit = {
                                    id: id,
                                    name: $("#txtExpName").val(),
                                    startingDate: $("#dateStarted").val(),
                                    endingDate: endDate,
                                    location: $("#city option:selected").text(),
                                    companyName: $("#txtCompanyName").val(),
                                    companyDescription: $("#txtCompanyDescription").val(),
                                    position: $("#txtPosition").val(),
                                    positionDescription: $("#txtPositionDescription").val()
                                };

                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("EditExperience","Experience")",
                                    data: veriEdit,
                                    success: function (resEdit) {
                                        $("#modal").modal('hide');
                                        $("#txtExpName").val(''),
                                            $("#dateStarted").val('');
                                        $("#dateEnded").val('');
                                        $("#txtCompanyName").val('');
                                        $("#txtCompanyDescription").val('');
                                        $("#txtPosition").val('');
                                        $("#txtPositionDescription").val('');
                                        _DataTable.ajax.reload();
                                        $("#modal").modal('hide');
                                        $("#btnConfirm").html("Ekle");
                                        _DataTable.ajax.reload();
                                    }

                                });
                                toastr.success('Başarıyla düzenlendi.', 'DÜZENLENDİ!');

                            } else {
                                $("#modal").modal('hide');
                                $("#txtExpName").val(''),
                                    $("#dateStarted").val('');
                                $("#dateEnded").val('');
                                $("#txtCompanyName").val('');
                                $("#txtCompanyDescription").val('');
                                $("#txtPosition").val('');
                                $("#txtPositionDescription").val('');
                                $("#btnConfirm").html("Ekle");
                            }
                        });
                    });



                }

            });
        }

    </script>
}